	<h1><a href="#">Harry Culpan</a></h1>
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
	      <ul class="nav">
	        <li class="active"><a href="#">Blog</a></li>
	        <li><a href="#">About</a></li>
	        <li><a href="#">GitHub</a></li>
	      </ul>
	    </div>
	  </div>
	</div>
